.contacts {
  overflow-x: hidden;
  background-color: $add-bg;
}

.contacts__title {
  @include ttl-style;

  margin-top: 36px;
  margin-bottom: 50px;
}

.contacts__text {
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-right: 0;

  span {
    display: block;
    font-weight: bold;
  }
}

.contacts__link {
  border-bottom: 1px solid $textcolor;
  transition: 0.5s;

  &:hover,
  &:focus {
    border-bottom: 1px solid transparent;
    transition: 0.5s;
  }
}

.contacts__button {
  font-size: 17px;
  width: 230px;
  margin: 50px auto 40px;
}

.contacts__map {
  margin-left: -20px;
  margin-right: -20px;
  // background-image: url("../img/map-mobile@1x.jpg");
}

.contacts__interactive-map {
  width: 100%;
  height: 320px;
}

.contacts__messengers {
  position: relative;
  top: -14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__messenger-link {
  margin-right: 10px;
}

.contacts__messenger-icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    padding-top: 46px;

    // &::before {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   content: "";
    //   width: 100%;
    //   height: 23px;
    //   background-image: url("../img/bg-zigzag-line.svg");
    // }
  }

  .contacts__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contacts__title {
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__block {
    width: 33%;
  }

  .contacts__text {
    font-size: 16px;
    text-align: center;
    width: 95%;
    margin-right: 0;

    br {
      display: none;
    }
  }

  .contacts__button {
    margin: 15px auto 40px;
  }

  .contacts__map {
    margin-left: -40px;
    margin-right: -40px;
    // background-image: url("../img/map-tablet@1x.jpg");
  }

  .contacts__interactive-map {
    width: 100%;
    height: 320px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    // display: flex;
    // justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 105px;
    background-color: $add-bg;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 56px;
  }

  .contacts__list {
    width: 50%;
  }

  .contacts__title {
    @include ttl-style;
    margin: 0;
  }

  .contacts__block {
    font-size: 20px;
    text-transform: none;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
  }

  .contacts__text {
    font-size: 20px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 22px;

    br {
      display: inline;
    }
  }

  .contacts__button {
    font-size: 18px;
    width: 240px;
    padding-bottom: 13px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 45px;
  }

  .contacts__map {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }

  .contacts__interactive-map {
    width: 100%;
    height: 320px;
  }

  .contacts__messengers {
    display: inline-flex;
  }
}
