.gallery {
  padding-top: 80px;
  padding-bottom: 100px;
  // background-color: $add-bg;
  overflow: hidden;
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;
}

.gallery__title {
  @include ttl-style;
}

.gallery__slider {
  padding: 0;
  margin: 0;
  width: 100%;
}

.gallery__slide {
  padding: 10px;
  outline: none;
}

.gallery__image {
  width: 320px;

  @media (min-width: 500px) {
    width: 500px;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .gallery__wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .gallery__description {

  }

  .gallery__projects {

    margin-bottom: 60px;
  }


  .gallery__slide {
    padding: 10px;
  }

  .gallery__image {
    width: 750px;
  }

  .gallery__title {
    margin-bottom: 65px;
  }

  .gallery__text {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {

  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .gallery__wrapper {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }

  .gallery__projects {
    order: 2;
    width: 50%;
    margin-bottom: 0;
  }

  .gallery__slide {
    padding: 20px;
  }

  .gallery__image {
    width: 850px;
  }

  .gallery__description {
    order: 1;
    width: 45%;
    overflow: hidden;
  }

  .gallery__title {
    margin-bottom: 50px;
  }

  .gallery__text {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .gallery__tools {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .gallery__tool {
    width: 33%;
    margin-top: 35px;
    margin-bottom: 0;

  }

  .gallery__tool-icon {
    width: 70%;
  }

}

