.gallery {
  padding-top: 100px;
  background-color: $add-bg;
  overflow: hidden;
}

.gallery__main-wrapper {
  opacity: 0;
  transform: translateY(40px);
}

.gallery__main-wrapper--show {
  opacity: 1;
  transform: translateY(0);
  transition: 1.5s ease-out;
}

.gallery__main-wrapper--nojs {
  opacity: 1;
  transform: translateY(0);
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;

}

.gallery__slider {
  padding: 0;
  margin: 0;
  width: 100%;
}

.gallery__slide {
  padding: 25px;
  outline: none;
}

img {
  cursor: pointer;
}

.gallery__title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.gallery__text {
  text-align: center;
  margin-bottom: 30px;
}

.gallery__tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.gallery__tool {
  z-index: 1;
  width: 28%;
  margin-bottom: 45px;
}

.gallery__tool-link {
  display: block;
  outline: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;

  &:hover,
  &:focus {
    transform: scale(1.2);
    transition: transform 0.5s;
  }
}

.gallery__tool-icon {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .gallery {

  }

  .gallery__wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .gallery__description {

  }

  .gallery__projects {

    margin-bottom: 60px;
  }


  .gallery__slider-nav {
    display: block;
    margin-top: 30px;

  }

  .gallery__title {
    margin-bottom: 65px;
  }

  .gallery__text {
    margin-bottom: 30px;
  }

  .gallery__tools {
    width: 100%;
    padding: 20px;
    padding-top: 0;
  }

  .gallery__tool {
    width: 18%;
    margin-bottom: 45px;
  }

  .gallery__tool-link {

  }

  .gallery__tool-icon {
    width: 95%;
    height: auto;
  }

}

@media (min-width: $desktop-width) {

  .gallery {
    padding-bottom: 100px;
  }

  .gallery__wrapper {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }

  .gallery__projects {
    order: 2;
    width: 50%;
    margin-bottom: 0;
  }

  .gallery__slider-nav {
    margin-top: 15px;
  }

  .gallery__description {
    order: 1;
    width: 45%;
    overflow: hidden;
  }

  .gallery__title {
    margin-bottom: 50px;
  }

  .gallery__text {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .gallery__tools {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .gallery__tool {
    width: 33%;
    margin-top: 35px;
    margin-bottom: 0;

  }

  .gallery__tool-icon {
    width: 70%;
  }

}

