.hello {
  position: relative;
  padding-top: 150px;
  padding-bottom: 725px;
}

.hello__inner {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  opacity: 0;
  // background-image: url('../img/big-head.png');
  // background-size: contain;
  // background-position-x: center;
  // background-position-y: 540px;
  // background-repeat: no-repeat;
  transform: translateY(540px);
}

.hello__inner--show {
  opacity: 1;
  transform: translateY(0);
  transition: 1.2s ease-out;
}

.hello__inner--nojs {
  opacity: 1;
  transform: translateY(0);
}

.hello__banner {
  z-index: 2;
  margin: 0 auto;
  width: 90%;
  height: 170px;
  text-align: center;
  // opacity: 0;
}

// .hello__banner--show {
//   opacity: 1;
//   transition: 0.8s;
// }

// .hello__banner--nojs {
//   opacity: 1;
// }

.hello__title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hello__text {
  font-family: "Bell";
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $firmcolor;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .hello {
    height: 560px;
    // filter: blur(5px);
  }

  .hello__banner {
    width: 80%;
    height: 170px;
  }

  .hello__title {
    font-size: 45px;
    line-height: 45px;
  }

  .hello__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .hello__title {
    font-size: 72px;
    line-height: 72px;

  }

  .hello__text {
    font-size: 72px;
    line-height: 72px;
  }

}








