.hello {
  position: relative;
  padding-top: 140px;
  padding-bottom: 100px;
  overflow: hidden;
}

.hello__head {
  z-index: 2;
  margin: 0 auto;
  width: 90%;
  height: 170px;
  text-align: center;
  margin-bottom: 20px;
  // opacity: 0;
}

// .hello__head--show {
//   opacity: 1;
//   transition: 0.8s;
// }

// .hello__head--nojs {
//   opacity: 1;
// }

.hello__title {
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hello__sub-title {
  font-family: "Bell";
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: $firmcolor;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.hello__poster {
  // z-index: -1;
  // position: absolute;
  // bottom: -50px;
  // left: 0;
  // right: 0;
  padding-top: 245px;
  margin: 0 auto;
  width: auto;
  max-width: 900px;
  height: 400px;
  opacity: 0;
  background-image: url('../img/dog-table.png');
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  transform: translateY(240px);
}

.hello__poster--show {
  opacity: 1;
  transform: translateY(0);
  transition: 1.2s ease-out;
}

.hello__poster--nojs {
  opacity: 1;
  transform: translateY(0);
}

.hello__text {
  width: 310px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
}

.hello__button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  width: 150px;
  height: 70px;
  margin: 0 auto;
  background-image: url('../img/bone.png');
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  outline: none;
  transform: scale(1);
  transition: 0.8s;
  cursor: pointer;

  &:hover {
    -webkit-filter: blur(0);
    transform: scale(1.03) translateZ(0);
    transition: 0.8s;
  }
}

@media (min-width: 380px) {
  .hello__poster {
    height: 500px;
    padding-top: 290px;
  }

  .hello__text {
    font-size: 17px;
    line-height: 20px;
    width: 370px;
  }

  .hello__button {
    font-size: 11px;
    width: 200px;
    height: 100px;
  }
}

@media (min-width: $tablet-width) {
  .hello {
    padding-top: 200px;
    padding-bottom: 50px;
    // height: 560px;
    // filter: blur(5px);
  }

  .hello__head {
    width: 95%;
    margin-bottom: 100px;
  }

  .hello__title {
    font-size: 55px;
    line-height: 60px;
  }

  .hello__sub-title {
    font-size: 60px;
    line-height: 30px;
  }

  .hello__text {
    width: 490px;
    font-size: 20px;
    line-height: 32px;
  }

  .hello__poster {
    width: 75%;
    height: 600px;
    padding-top: 355px;
  }

  .hello__button {
    bottom: 10px;
    font-size: 13px;
    width: 225px;
    height: 105px;
  }
}

@media (min-width: $desktop-width) {
  .hello {
    padding-bottom: 100px;
  }

  .hello__head {
    width: 80%;
  }

  .hello__title {
    font-size: 72px;
    line-height: 72px;

  }

  .hello__sub-title {
    font-size: 72px;
    line-height: 72px;
  }

  .hello__poster {
    width: 80%;
    height: 800px;
    padding-top: 470px;
  }

  .hello__text {
    width: 75%;
    font-size: 28px;
    line-height: 42px;
  }

  .hello__button {
    bottom: 0;
    font-size: 14px;
    width: 300px;
    height: 150px;
  }

}








