.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
  list-style: none;
  background-color: $firmcolor;
  transition: 0.5s;
}

.menu__item {
  display: inline-block;
  text-align: center;
  width: 100%;
  // padding-top: 14px;
  // padding-bottom: 14px;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #9b9a9a;
}

.menu__link {
  display: inline-block;
  font-size: 14px;
  color: $textcolor;
  text-transform: uppercase;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  color: inherit;
  transition: 0.5s;

  span {
    position: relative;
    padding-bottom: 3px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 1px;
      background-color: #ffffff;
      transition: 0.5s;
    }
  }

  &:hover {
    color: $firmblue;
    transition: 0.5s;

    span::after {
      background-color: $firmblue;
      width: 100%;
      transition: 0.5s;
    }
  }
}

.menu__link--active {
  color: $firmblue;

  span::after {
    background-color: $firmblue;
    width: 100%;
  }
}

.page-header__mini {
  .menu {
    background-color: $miniheader-color;
    transition: 0.5s;
  }

  .menu__link {
    font-size: 12px;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
  }

  .menu__item {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;

    border: none;
  }

  .page-header__mini {
    .menu {
      background-color: transparent;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu__link {
    font-size: 18px;
  }

  .page-header__mini {
    .menu__link {
      font-size: 15px;
    }
  }
}
