@mixin link-hover {
  border-bottom: 1px dashed $textcolor;
  transition: 0.5s;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
    transition: 0.5s;
  }
}

@mixin ttl-style {
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}

@mixin list-unstyle {
  padding: 0;
  margin: 0;
  list-style: none;
}
