.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $firmcolor;
  transition: $transition-header-time;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: $firmcolor;
  border-bottom: 1px solid #ffffff;
  transition: background-color $transition-header-time, padding 0.4s;
}

.page-header__mini {
  background-color: $miniheader-color;
  transition: $transition-header-time;

  .page-header__logo {
    padding: 0;
    background-color: $miniheader-color;
    transition: $transition-header-time;
  }
}

.page-header__wrapper {
  position: relative;
}

.page-header__author {
  padding-left: 70px;
}

.page-header__author-name {
  font-size: 16px;
  transition: $transition-header-time;
}

.page-header__author-sub {
  font-size: 12px;
  transition: $transition-header-time;
}

.page-header__localisation {
  position: absolute;
  top: 15px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  width: 20px;
  transition: $transition-header-time;
}

.page-header__localisation-link {
  filter: brightness(80%);
  // transform: rotate(0);
  transition: 0.4s ease-out;

  &:hover,
  &:focus {
    filter: brightness(115%);
    // transform: rotate(360deg);
    transition: 0.4s ease-in;
  }
}

.page-header__flag-icon {
  diszplay: block;
}

.page-header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transform: translateY(-300px);
  transition: $transition-header-time;
}

.page-header__nav--show {
  opacity: 0.95;
  transform: translateY(79px);
  transition: $transition-header-time;
}

.page-header__mini {
  .page-header__nav--show {
    transform: translateY(58px);
    transition: transform $transition-header-time;
  }

  .page-header__localisation {
    top: 5px;
    height: 50px;
    width: 16px;
    transition: $transition-header-time;
  }

  .page-header__author-name {
    font-size: 14px;
    transition: $transition-header-time;
  }

  .page-header__author-sub {
    font-size: 10px;
    transition: $transition-header-time;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    text-transform: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-header__mini {
    padding-top: 10px;
    padding-bottom: 10px;

    .page-header__nav--show {
      transform: translateY(0);
    }

    .page-header__localisation {
      width: 60px;
    }

    .page-header__localisation-link {
      width: 20px;
      transition: $transition-header-time;
    }
  }

  .page-header__logo {
    display: none;
  }

  .page-header__author {
    display: none;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__nav {
    position: static;
    z-index: 0;
    opacity: 1;
    transform: translateY(0);
    width: 85%;
  }

  .page-header__localisation {
    position: static;
    flex-direction: row;
    justify-content: space-around;
    width: 70px;
  }

  .page-header__localisation-link {
    width: 25px;
    transition: $transition-header-time;
  }

  .page-header__uk-icon {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {

  .page-header__nav {
    font-size: 18px;
  }

}

