.page-footer {
  // color: #ffffff;
  width: 100%;
  // background-color: $add-bg;
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.page-footer__block {
  width: 100%;

  &--logo {
    width: 120px;
    margin: 0 auto 40px;
  }

  &--social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
}

.page-footer__link {
  @include link-hover;
}

.page-footer__text {
  font-size: 15px;

  &--copyright {
    font-size: 10px;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.page-footer__social-item {
  display: inline-block;

  &--instagram {
    margin-left: 40px;
    margin-right: 40px;
  }

  &--fb {
    margin-right: 40px;
  }
}

.page-footer__social-link {
  display: inline-block;
  width: 100%;
  outline: none;
  // perspective: 200px;

  &:hover > .page-footer__social-icon,
  &:focus > .page-footer__social-icon {
    fill: $firmcolor-h;
    // filter: brightness(1.7);
    transform: rotate(360deg);
    transition: 0.8s;
  }
}

.page-footer__social-icon {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  fill: $firmcolor;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.page-footer__text {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;

  &--copyright {
    font-size: 10px;
  }
}

@media (min-width: $tablet-width) {

  .page-footer__wrapper {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__block {

    &--logo {
      position: absolute;
      left: 0;
      top: 25px;
      width: 100px;
      margin: 0;
    }

    &--social {
      width: 50%;
    }
  }

  .page-footer__text {
    position: absolute;
    left: auto;
    bottom: 0;
    font-size: 12px;

    &--copyright {
      font-size: 10px;
    }
  }

  .page-footer__social-link {
    width: 45px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__text {
    font-size: 18px;

    &--copyright {
      font-size: 12px;
    }
  }

  .page-footer__social-link {
    width: 85px;
  }

  .page-footer__text {
    bottom: 30px;
    right: 20px;
    font-size: 15px;
  }

  .page-footer__block {
    &--logo {
      left: 50px;
      top: 25px;
      width: 125px;
    }
  }

  .page-footer__social-link {
    width: 60px;
  }
}

