.price {
  padding-top: 75px;
  padding-bottom: 75px;

  .price__illustration {
    transform: translateX(-1000px);
    opacity: 0;
  }

  .price__description {
    opacity: 0;
  }
}

.price--show {
  .price__illustration {
    transform: translateX(0);
    opacity: 1;
    transition: 1s;
  }

  .price__description {
    opacity: 1;
    transition: 1.4s;
  }
}

.price--nojs {
  .price__illustration {
    transform: translateX(0);
    opacity: 1;
  }

  .price__description {
    opacity: 1;
  }
}

.price__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.price__title {
  @include ttl-style;

  margin-bottom: 80px;
}

.price__illustration {
  width: 500px;
  padding: 20px;
}

.price__description {
  width: calc(100% - 650px);
}

.price__table {
  // font-size: 24px;
  width: 100%;
  border-collapse: collapse;

  td {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 2px solid $firmcolor;

    &:nth-child(odd) {
      border-right: 2px solid $firmcolor;
    }
  }
}

.price__item {
  font-size: 20px;

  &--title {
    font-size: 24px;
    font-weight: bold;
  }

  &:last-child {
    td {
      border-bottom: none;
    }
  }
}

.price__sub-text {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 80px;
}
