.price {
  background-color: $add-bg;
  padding-top: 50px;
  padding-bottom: 75px;

  .price__text,
  .price__value {
    white-space: normal;
    line-height: 1.2;
  }

  .price__half-table {
    width: 100%;
    border-collapse: collapse;
  }

  .price__table td.price__table-outer {
    padding: 0;
  }

  // .price__illustration {
  //   transform: translateX(-1000px);
  //   opacity: 0;
  // }

  // .price__description {
  //   opacity: 0;
  // }
}

// .price--show {
//   .price__illustration {
//     transform: translateX(0);
//     opacity: 1;
//     transition: 1s;
//   }

//   .price__description {
//     opacity: 1;
//     transition: 1.4s;
//   }
// }

// .price--nojs {
//   .price__illustration {
//     transform: translateX(0);
//     opacity: 1;
//   }

//   .price__description {
//     opacity: 1;
//   }
// }

.price__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.price__title {
  @include ttl-style;

  margin-bottom: 80px;
}

.price__illustration {
  display: none;
}

.price__description {
  width: 100%;
}

.price__table {
  // font-size: 24px;
  width: 100%;
  border-collapse: collapse;
}

.price__item {
  font-size: 15px;
  white-space: nowrap;

  td {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid $firmcolor;

    &:nth-child(odd) {
      border-right: 2px solid $firmcolor;
    }
  }

  &--title {
    font-size: 20px;
    font-weight: bold;

    .price__text--empty {
      border-bottom-style: hidden;
    }
  }

  &:last-child {
    td {
      border-bottom: none;
    }
  }

  &--title,
  &--subtitle {
    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.price__note {
  display: inline-block;
  font-size: 10px;
  line-height: 15px;
  margin-top: 40px;
}

.price__sub-text {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 80px;
}

.price__note {
  font-size: 11px;
}

.price__sub-text {
  font-size: 32px;
  line-height: 36px;
}

.price__text,
.price__value {
  width: 50%;

  &--bold {
    font-weight: 600;
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 75px;
  }

  .price__wrapper {
    align-items: center;
  }

  .price__title {
    margin-bottom: 60px;
  }

  // .price__illustration {
  //   display: block;
  //   width: 40%;
  //   padding: 20px;
  // }

  // .price__description {
  //   width: 57%;
  // }

  .price__table {
    td {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .price__item {
    font-size: 18px;

    &--title {
      font-size: 21px;
    }
  }

  .price__note {
    font-size: 10px;
    margin-top: 20px;
  }

  .price__sub-text {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .price__illustration {
    display: block;
    width: 350px;
    padding: 20px;
  }

  .price__description {
    width: calc(100% - 600px);
  }

  .price__item {
    font-size: 20px;

    td {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &--title {
      font-size: 24px;
    }

    &--title,
    &--subtitle {
      td {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .price__note {
    font-size: 11px;
  }

  .price__sub-text {
    font-size: 32px;
    line-height: 36px;
  }

  .price__text,
  .price__value {
    width: 50%;

    &--bold {
      font-weight: 600;
    }
  }
}
