.reviews {
  padding-top: 100px;
  padding-bottom: 100px;
  // background-color: $add-bg;
}

.reviews__wrapper {
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 31%;
}

.reviews__illustration {
  width: 200px;
}

.reviews__title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.reviews__text {
  min-height: 170px;
}

.reviews__sub {
  font-weight: bold;
  text-align: right;
  margin-top: 30px;
}
