$textcolor: #2d313a;
$firmcolor: #8d6e63;
$firmblue: #c1d9ff;
$firmviolet: #6B597F;
$firmviolet-hover: #6B59C0;
$add-bg: #eff2f4;
$miniheader-color: rgba(49, 43, 47, 0.95);
$transition-header-time: 0.6s;
$mobile-width: 320px;
$tablet-width: 680px;
$desktop-width: 1090px;
