$textcolor: #212121;
$firmcolor: #767f88;
$firmblue: #c1d9ff;
$firmviolet: #6B597F;
$firmviolet-hover: #6B59C0;
$miniheader-color: rgba(49, 43, 47, 0.95);
$transition-header-time: 0.6s;
$mobile-width: 320px;
$tablet-width: 680px;
$desktop-width: 1090px;
